<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Adding new user:</title>
</head>
<body>
<h1>Adding user:</h1>
<form th:method="POST" th:action="@{/admin/addUser}" th:object="${user}">
  <label for="userName">Enter name: </label>
  <input type="text" th:field="*{userName}" id="userName"/>
  <br/>
  <label for="userPassword">Enter password: </label>
  <input type="text" th:field="*{userPassword}" id="userPassword"/>
  <br/>
  <label for="userAge">Enter age: </label>
  <input type="text" th:field="*{userAge}" id="userAge"/>
  <br/>
  <label for="userEmail">Enter email: </label>
  <input type="text" th:field="*{userEmail}" id="userEmail"/>
  <br/>
  <label for="roles">Enter role: </label>
  <input type="text" th:field="*{roles}" id="roles"/>
  <br/>
  <input type="submit" value="Add"/>
</form>
<td><a href="/logout"><h2>Log Out!</h2></a></td>
</body>
</html>